<p id="notice"><%= notice %></p>

<h2><%= @user.name %></h2>

<h3>Followers</h3>
<ul>
  <% @user.followers.each do |follower| %>
    <li><%= link_to follower.name, follower %></li>
  <% end %>
</ul>

<h3>Following</h3>
<ul>
  <% @user.followees.each do |followee| %>
    <li><%= link_to followee.name, followee %></li>
  <% end %>
</ul>

<h3>Tweets</h3>
<% if @user == current_user %>
  <%= form_for Tweet.new do |f| %>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.submit 'Tweet!' %>
  <% end %>
<% end %>
<ul>
  <% @user.tweets.each do |tweet| %>
    <li><%= tweet.text %></li>
  <% end %>
</ul>

<h3>Feed</h3>
<div id="tweets">
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
