<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableSpike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>Current user: <%= current_user&.name %></p>
    <%= link_to 'Home', user_path(current_user) if current_user %>
    <%= link_to 'Logout', session_path, method: :delete if current_user %>
    <hr />
    <%= yield %>
  </body>
</html>
